body{
    width: 100%;
}
@font-face {
    font-family: 'CCMaladroit Bold';
    src: url(../../assets/fonts/CCMaladroit-Bold.woff) format(woff);
}
header {
    background-color: #2e92aa;
    height: 100%;
    gap: 30px;
    padding-bottom: 20px;
}
button {
    background-color: #2e92aa;
}
header div.top{
    padding: 70px 0 30px;
}
.logo-text {
    font-family: 'CCMaladroit Bold';
    font-size: 5rem;
    padding-top: 40px;
    letter-spacing: -10px;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}
span {
    font-family: 'CCMaladroit Bold';
    color: #1e4f70;
}
.framer-text1{
    letter-spacing: 0.05em;
}
p, h1, h2, h3, h4, h5, h6, button{
    font-family: 'CCMaladroit Bold';
}
.wrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    font-family: 'CCMaladroit Bold';
    background-color: white;
    padding: 6px;
}
.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
.button-shake{
    transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(5deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    font-family: 'CCMaladroit Bold';
    padding: 10px;
    width: min-content;
}
.button-shake:hover{
    transform: perspective(2400px) translateX(0px) translateY(0px) scale(1) rotate(-5deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
    border-radius: 10px;
    border: 3px solid black;
    background-color: white;
    font-family: 'CCMaladroit Bold';
    padding: 10px;
    width: min-content;
}
.social {
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-family: 'CCMaladroit Bold';
    /* padding: 10px; */
    height: 70px;
}
.socials{
    padding-bottom: 20px;
}
#tokenomics-image{
    background-image: url(../images/image.jpg);
    height: 658px;
    width: 658px;
    background-position: center;
    background-size: contain;
}

.button-shaker {
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

/*Bounce*/
@keyframes kreep {
    0% {
        -webkit-transform: scale(1.1, .9);
        transform: scale(1.1, .9);
    }

    50% {
        -webkit-transform: scale(.9, 1.1) translateY(-.5rem)
    }

    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.kreep {
    display: inline-block;
    /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
    animation: kreep 0.7s ease 2s infinite alternate;
}

.kreep:hover {
    animation: none;
}

/*END BOUNCER*/