body{
    width: 100%;
}
@font-face {
    font-family: 'CCMaladroit Bold';
    src: url(../../assets/fonts/CCMaladroit-Bold.woff) format(woff);
}
header {
    background-color: antiquewhite;
    height:  100%;
    gap: 30px;
    padding-bottom: 20px;
}
header div.top{
    padding: 70px 0 30px;
}
.logo-text {
    font-family: 'CCMaladroit Bold';
    font-size: 100px;
    padding-top: 40px;
    letter-spacing: -10px;
    color: white;
    text-shadow: 0 0 3px black, 0 0 5px black;
}
span {
    font-family: 'CCMaladroit Bold';
    color: cyan;
}
.framer-text1{
    letter-spacing: 0.05em;
}
p, h1, h2, h3, h4, h5, h6{
    font-family: 'CCMaladroit Bold';
}
.wrapper {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    height: 40px;
    overflow: hidden;
    position: relative;
    font-family: 'CCMaladroit Bold';
    background-color: white;
    padding: 6px;
}
.marquee {
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
}
.button-shake{
    transform: perspective(1200px) translateX(0px) translateY(0px) scale(1) rotate(5deg) rotateX(0deg) rotateY(0deg) skewX(0deg) skewY(0deg) translateZ(0px);
    border-radius: 10px;
    border: 2px solid black;
    background-color: white;
    font-family: 'CCMaladroit Bold';
    padding: 10px;
    width: min-content;

}
.socials{
    gap: 10px;
    padding-bottom: 10px;
}